.twocols{
  display:flex;
  flex-direction: row;
  width: 100%;

  &.fifty-fifty{

    .leftCol{
      width: 50%;
    }

    .rightCol{
      width: 50%;
    }
  }

  &.ninety-ten{

    .leftCol{
      width: 10%;
    }

    .rightCol{
      width: 90%;
    }
  }

  &.eighty-twenty{
    .leftCol, .rightCol{

    }

    .leftCol{
      width: 20%;
    }

    .rightCol{
      width: 80%;
    }
  }

  &.seventy-thirty{
    .leftCol, .rightCol{

    }

    .leftCol{
      width: 70%;
    }

    .rightCol{
      width: 30%;
    }
  }

  &.sixty-fourty{
    .leftCol, .rightCol{

    }

    .leftCol{
      width: 60%;
    }

    .rightCol{
      width: 40%;
    }
  }

  &.fifty-fifty{

  }
}

.smallPadding{
  padding:1rem;
}

.noMargin{
  margin:0;
}

.noMarginTop{
  margin-top: 0;
}

.componentWrapper:only-of-type:first-of-type{
  padding-bottom: 0;
}


.formHolder{
  width: 100%;

  input, select{
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

}
