footer{
  background: #eee;
  padding: 60px 0px 1rem 0px;


  .footerWrapper{
    max-width: 1340px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    width: 90%;
    .footerBranding{
      .footerLogo{
        width: 100%;
        img{
          width: 200px;
        }
      }
    }

    .column{
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          a{

          }
        }
      }
    }
  }
  .footerDivider{
    width: 90%;
    margin: 2rem auto;
  }

  .socials{

  }



}