.mainNavBar{
  display:flex;
  .companyBranding{
    align-content: center;
    width: 200px;
    text-align: center;
    cursor:pointer;
  }
  .nav{
    display:flex;
    list-style: none;
    li{
      margin-right: 1rem;
      a{
        cursor:pointer;
        text-decoration: underline;
      }
    }
  }
  .searchBar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}